@*@model System.String

    <h2>Hello Welcome My PC</h2>*@
<h1 style="color" :red">viewBag</h1>
<h1>@ViewBag.name</h1>
<h1>@ViewBag.name1</h1>
<h1>@ViewBag.name2</h1>
<h1 style="color" :green">viewData</h1>

<h2>@ViewData["name"]</h2>
<h2>@ViewData["name1"]</h2>
<h2>@ViewData["name2"]</h2>


<h1 style="color" :black">TempData</h1>

<h3>@TempData["num"]</h3>
<h3>@TempData["name1"]</h3>
<h3>@TempData["name2"]</h3>


